<!DOCTYPE html>
<html lang="en">
<head>
  <title>Torqcon</title>
	<%= stylesheet_link_tag    'application' %>
	<%= javascript_include_tag 'application' %>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<%= csrf_meta_tags %>
  	<% if @support_natural_device_width %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<% end %>
</head>
<body>
	<div id='header'>
		<div id="logo">
			Torqcon Logo Here
		</div>

		<div id="nav-dropdown-menu">
			
		</div>

	    <% if request.path == root_path %>
		    <section class="landing">
				<div class="hero-overlay">
					<div class="container hero_text">
						<h2>Coming Soon: Some Really Clever Text</h2>
						<p align="center"><a href="/public/structural" class="btn btn-primary btn-lg action-button-main" role="button">Build Your Modern Structural Shell</a></p>
					</div>
				</div>
				<%= render "layouts/hero_video" %>
				<%#= render "layouts/main_hero" %> 
			</section>
	    <% end %>
    </div>

<%= yield %>

</body>
</html>
